.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 30px;
  }
  
  .subheading {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cardImage {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 10px 5px;
  }
  
  .cardSubtitle {
    font-size: 14px;
    color: #777;
    margin: 0 10px 10px;
  }
  
  .cardLink {
    font-size: 14px;
    color: #0056d2;
    margin: 0 10px 10px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cardType {
    font-size: 14px;
    color: #555;
    margin: 0 10px 10px;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }
  
  .button {
    background: #0056d2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .lastPara{
    font-size: 14px;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 48px;
  }



  @media (max-width: 768px) {
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Display two cards per row */
      gap: 20px; /* Space between the cards */
      justify-items: center; /* Center cards */
    }
  
    .card {
      width: 100%; /* Full width for cards */
      max-width: 320px; /* Optional, adjust based on preference */
    }
  
    .button {
      width: 100%; /* Make buttons full width */
      padding: 12px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .heading{
      text-align: center;
    }

    .subheading{
      text-align: center;
    }
  }